<?php

namespace App\Entity;

use App\Entity\EntityInterface;

class {NAME} implements EntityInterface {
    
    {FIELDS}

    public function update(): void {
        
    }

    {GETTERSANDSETTERS}

}